extends ../layouts/main

block variables
  include ../../data/data.pug
  - const title = "Proshop - Каталог"
 

block main

    include ../../blocks/modules/catalog/catalog.pug

    +catalog

    section.formated-text
      .format__container._container
        h2 Комплексный подход к товарам и услугам
        p Покупка товара проста только на первый взгляд. Нужно думать о том, как оформить доставку, кто поднимет на 8 этаж шкаф и установит кондиционер в спальню. В нашем магазине эти процессы уже созданы. Думайте только о подборе товаров в каталоге. Для этого предлагаем комплексный подход — наша команда выполнит все задачи!
        p Пример маркированного списка:
        ul
          li Доставка товаров до квартиры в течение 24 часов.
          li Менеджер, который знает детали заказов.
          li Услуги по монтажу, установке, подключению и другие. 

        blockquote
          strong Выделение специального текста. <br> 
          p Учитываем историю покупок и общения, чтобы персонализировать ответы и предложения. Нам важно решить вопрос быстро и качественно. Формирование долгосрочных отношений — одна из главных целей. Понимаем, что проще покупать товары в магазине, где предпочтения уже знают и помогают с выбором. <br>

        p Сделаем жизнь ярче, уютнее и комфортнее. В нашем интернет-магазине найдется товар, который нужен именно вам. Если возникнут вопросы, пишите в онлайн-чат. С удовольствием поможем с выбором и подскажем детали заказа.
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 
  script(src="/js/catalog.js") 
  script(src="/js/actions.js") 