extends layouts/main

block variables
  include ../data/data.pug
  - const title = "Proshop"
 

block main

  div proshop

 
 
block scripts
  script(src="/js/vendor.js") 
  script(src="/js/common.js") 