mixin idea
  section.idea
    .idea__container._container
      h2 Идеи для вас
      .idea__items
        .idea__item.b-idea-item
          picture
            img(src="/img/idea/i_idea-a001.jpg", alt="idea")
        .idea__item
          picture
            img(src="/img/idea/i_idea-a002.jpg", alt="idea")
        .idea__item
          picture
            img(src="/img/idea/i_idea-a003.jpg", alt="idea")
          .idea__item-bullets
            .idea__item-bullet.bullet-jacket
              .idea__item-bullet-icon
                span
              .idea__item-bullet-content
                h4 Информация о товаре
                .bullet-prices
                  span.bullet-prices__current 5 840 ₽
                  span.bullet-prices__discount 6 638 ₽
                  span.bullet-prices__sale -10%
                button.btn-l-gray
                  a(href="#") Подробнее
            .idea__item-bullet.bullet-dress
              .idea__item-bullet-icon
                span
              .idea__item-bullet-content
                h4 Информация о товаре
                .bullet-prices
                  span.bullet-prices__current 5 840 ₽
                  span.bullet-prices__discount 6 638 ₽
                  span.bullet-prices__sale -10%
                button.btn-l-gray
                  a(href="#") Подробнее
      button.btn-l-gray
        a(href="#") Показать больше идей
        