footer {
    flex: 0 0 auto;
    background: #F7F7F7;
    padding-bottom: 80px;

    @media screen and (min-width: 767.98px) {
        padding-bottom: 0;
    }
}

.top-footer {
    &__wrapper {
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: 767.98px) {
            padding: 48px 0;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media screen and (min-width: 1199.98px) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 32px;
        }
    }

    &__item {
        @media screen and (min-width: 767.98px) {
            &:first-child {
                flex: 0 0 100%;
            }

            flex: 0 0 20%;
        }

        @media screen and (min-width: 1199.98px) {
            &:first-child {
                min-width: 380px;
                margin-right: 32px;
            }
        }


        &-logo {
            margin-bottom: 16px;

            a {
                .icon {
                    display: block;
                    min-width: 184px;
                    width: 184px;
                    height: 28px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left;
                    transition: 0.1s ease;
                }
            }
        }

        &-text {
            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                color: #000;

            }
        }

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            h4 {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: #000;
            }

            .icon {
                display: block;
                min-width: 20px;
                width: 20px;
                height: 20px;
                background-size: 12px;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.1s ease;

                @media screen and (min-width: 767.98px) {
                    display: none;
                }
            }
        }

        &-content {
            margin-top: 12px;

            ul:not(.tf-item-contacts__socials) {
                display: inline-flex;
                flex-direction: column;
                gap: 8px;

                li {
                    display: inline-flex;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #525252;

                    a {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #525252;
                        transition: .1s ease;

                        @media screen and (min-width: 991.98px) {
                            &:hover {
                                color: #0070E0;
                            }
                        }
                    }
                }
            }
        }
    }

    .tf-item-menu {
        .top-footer__item-content {
            display: none;

            @media screen and (min-width: 767.98px) {
                display: block;
            }
        }

        &.is--opened {
            .icon {
                transform: rotate(180deg);
            }

            .top-footer__item-content {
                display: block;
                animation: fadeIn 0.2s ease forwards;
            }
        }
    }

    .tf-item-contacts {
        &__socials {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
            margin-top: 32px;

            li {
                display: inline-flex;

                a {
                    .icon {
                        display: block;
                        min-width: 28px;
                        width: 28px;
                        height: 28px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: 0.1s ease;
                    }

                    @media screen and (min-width: 991.98px) {
                        &:hover {
                            .icon {
                                filter: brightness(.7);
                            }
                        }
                    }
                }
            }
        }
    }
}

.bottom-footer {
    &__wrapper {
        padding: 24px 0;
        border-top: 1px solid #CCCCCC;

        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (min-width: 991.98px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__copy {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: #000;
        position: relative;
        padding-left: 28px;

        &:before {
            content: '';
            display: block;
            min-width: 24px;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjk4MSAxMy45ODFDMTMuNTg5MyAxNC4zNzIzIDEzLjA5MDQgMTQuNjM4NiAxMi41NDczIDE0Ljc0NjRDMTIuMDA0MiAxNC44NTQyIDExLjQ0MTQgMTQuNzk4NiAxMC45MyAxNC41ODY2QzEwLjQxODUgMTQuMzc0NSA5Ljk4MTQgMTQuMDE1NyA5LjY3Mzg3IDEzLjU1NTNDOS4zNjYzNCAxMy4wOTQ5IDkuMjAyMiAxMi41NTM3IDkuMjAyMiAxMkM5LjIwMjIgMTEuNDQ2MyA5LjM2NjM0IDEwLjkwNTEgOS42NzM4NyAxMC40NDQ3QzkuOTgxNCA5Ljk4NDM0IDEwLjQxODUgOS42MjU0NSAxMC45MyA5LjQxMzQ0QzExLjQ0MTQgOS4yMDE0MiAxMi4wMDQyIDkuMTQ1NzkgMTIuNTQ3MyA5LjI1MzU3QzEzLjA5MDQgOS4zNjEzNiAxMy41ODkzIDkuNjI3NzIgMTMuOTgxIDEwLjAxOU0xOSAxMkMxOSAxNS44NjYgMTUuODY2IDE5IDEyIDE5QzguMTM0MDEgMTkgNSAxNS44NjYgNSAxMkM1IDguMTM0MDEgOC4xMzQwMSA1IDEyIDVDMTUuODY2IDUgMTkgOC4xMzQwMSAxOSAxMloiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
            transition: .1s ease;

            position: absolute;
            left: 0;
        }
    }

    &__payment {
        ul {
            display: flex;
            align-items: center;
            gap: 16px;

            li {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    object-position: center;
                    object-fit: contain;
                    pointer-events: none;
                }
            }
        }
    }

    &__develop {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: #000;
        }

        a {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: #0070E0;
            transition: .1s ease;

            @media screen and (min-width: 991.98px) {
                &:hover {
                    opacity: .9;
                }
            }
        }
    }

}