include ../product-card/product-card.pug
include ../filter/filter-panel.pug
include ../../components/breadcrumb/breadcrumb.pug

mixin products
  section.products
    .products__container._container

      +breadcrumb([
        'Главная',
        'Каталог',
        'Акустические панели',
        'Акустическая панель Квадрат, белый',
      ])
     
      .products__h1:  h1 Электроника
      .products__filter.filter-products
        .filter-products__buttons
          .filter-products__button.btn-filter(data-filter-id="all")
            i.icon(style="background-image: url(\'/img/icons/ic_filter.svg\')")
            | Фильтры

          .filter-products__button(data-filter-id="price").
            
            Цена
            
          .filter-products__button(data-filter-id="color").
            
            Цвет
            
          .filter-products__button(data-filter-id="form").
            
            Форма
            
          .filter-products__button.btn-stock(data-target-block="true")
            .btn-stock__tumbler
              span
            | В наличии

          .filter-products__result.
            
            Найдено 14
            
        .filter-products__default
          .filter-products__default-wrapper
            .filter-products__default-value Сначала популярные
            i.icon(style="background-image: url(\'/img/icons/ic_arrow-dd.svg\')")
          .data-dropdown
            ul
              li Сначала цветные
              li Сначала дешевые
              li Сначала дорогие
      .products__cards
        +product-card
        +product-card--2
        +product-card--3
        +product-card
        +product-card--2
        +product-card--3
        +product-card
        +product-card--2
        +product-card--3
        +product-card
        +product-card--2
        +product-card--3
        +product-card
        +product-card--2
        +product-card--3
        +product-card
        +product-card--2
        +product-card--3
        +product-card
        +product-card--2
        
        
    
    +category-filter
