mixin banner
  section.banner
    .banner__slider
      .swiper(data-slider="banner")
        .swiper-wrapper
          .swiper-slide
            .banner__slider-card
              .banner__slider-card-img
                picture
                  img(src="/img/i_banner-a001.jpg", alt="banner")
              .banner__slider-card-wrapper
                .banner__slider-card-content
                  span С 1 декабря до 14 января
                  h1
                    | К Новому году
                    br
                    | и Рождеству готовы
                  p Праздничные скидки и распродажа товаров!
                  button.btn-custom_i
                    | К покупкам

                    i.icon(style="background-image: url(\'/img/icons/ic_arrow-br.svg\')")
                .banner__slider-card-img-md
                  picture
                    img(src="/img/i_banner-a001-md-el.png", alt="banner")
          .swiper-slide
            .banner__slider-card
              .banner__slider-card-img
                picture
                  img(src="/img/i_banner-a001.jpg", alt="banner")
              .banner__slider-card-wrapper
                .banner__slider-card-content
                  span С 1 декабря до 14 января
                  h1
                    | К Новому году
                    br
                    | и Рождеству готовы
                  p Праздничные скидки и распродажа товаров!
                  button.btn-custom_i
                    | К покупкам

                    i.icon(style="background-image: url(\'/img/icons/ic_arrow-br.svg\')")
                .banner__slider-card-img-md
                  picture
                    img(src="/img/i_banner-a001-md-el.png", alt="banner")
          .swiper-slide
            .banner__slider-card
              .banner__slider-card-img
                picture
                  img(src="/img/i_banner-a001.jpg", alt="banner")
              .banner__slider-card-wrapper
                .banner__slider-card-content
                  span С 1 декабря до 14 января
                  h1
                    | К Новому году
                    br
                    | и Рождеству готовы
                  p Праздничные скидки и распродажа товаров!
                  button.btn-custom_i
                    | К покупкам

                    i.icon(style="background-image: url(\'/img/icons/ic_arrow-br.svg\')")
                .banner__slider-card-img-md
                  picture
                    img(src="/img/i_banner-a001-md-el.png", alt="banner")
        .swiper-button-prev(data-swiper-btn="banner-prev")
          span(style="background-image: url(\'/img/icons/ic_arrow-brt.svg\')")
        .swiper-button-next(data-swiper-btn="banner-next")
          span(style="background-image: url(\'/img/icons/ic_arrow-brt.svg\')")
        .swiper-pagination(data-swiper-pagination="banner")