mixin format-text
  section.format
    .format__container._container
      h2 О магазине
      p ProShop — интернет-магазин полезных вещей для себя, дома, офиса и дачи. Здесь вы найдете товары под свои предпочтения: от аудиотехники и одежды до строительных материалов и велосипедов.
      p Работаем с 2020 года, поэтому на личном опыте выявили надежных партнеров. Сотрудничаем с проверенными производителями, чьи товары соответствуют гостам. А также — со службами доставки, которые привозят заказы в срок.