header {
    z-index: 99;

    flex: 0 0 auto;
    background: #FFF;

    &:has(.fixed) {
        min-height: 48px;

        @media screen and (min-width: 767.98px) {
            min-height: 172px;
        }

        @media screen and (min-width: 991.98px) {

            .catalog-list,
            .search-field {
                position: fixed;
                top: 72px;
            }
        }
    }
}

.top-header {
    display: none;
    background: #F7F7F7;

    @media screen and (min-width: 767.98px) {
        display: block;
    }

    &__wrapper {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .country-header {
        transition: .1s ease;
        cursor: pointer;

        @media screen and (min-width: 991.98px) {
            &:hover {
                opacity: .7;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            gap: 8px;

            .name {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: #000;
            }

            .icon {
                display: block;
                min-width: 20px;
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.1s ease;

                //&:last-child {
                //  margin-left: 4px;
                //}
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 24px;


        .info-action,
        .numbers-action {
            position: relative;
            transition: .1s ease;

            @media screen and (min-width: 767.98px) {
                &:hover {

                    .info-action__title,
                    .numbers-action__title {
                        opacity: .7;
                    }


                    .data-dropdown {
                        display: block;
                        animation: dropdownAnimationNScale 0.5s ease forwards;
                    }
                }
            }

            &__title {
                display: flex;
                align-items: center;
                gap: 8px;
                transition: .1s ease;

                .name {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #000;
                }

                .icon {
                    display: block;
                    min-width: 20px;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.1s ease;

                }
            }
        }
    }
}

.main-header {
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 4;
        background: #F7F7F7;
        animation: fadeIn 0.2s ease forwards;
    }

    &__wrapper {
        margin: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 767.98px) {}
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        flex: 1;

        @media screen and (min-width: 767.98px) {
            justify-content: flex-start;
            gap: 32px;
        }
    }

    .menu-header {
        @media screen and (min-width: 991.98px) {
            display: none;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            border: none;
            cursor: pointer;

            .icon {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
                transition: 0.1s ease;
                cursor: pointer;
                min-width: 16px;
                width: 16px;
                height: 16px;

                i {
                    width: 16px;
                    height: 1px;
                    border-radius: 2px;
                    background: #000;
                    transition-property: margin, transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease, ease;
                    transition-delay: 0s;
                    transform: rotate(0);
                }
            }

            &-name {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                color: #000;
            }

            &.is--active {
                .icon {
                    i {
                        margin: -2px -2px -3px -1px;

                        &:nth-of-type(1) {
                            transform: rotate(45deg);
                        }

                        &:nth-of-type(2) {
                            transform: rotate(-45deg);
                        }

                        &:nth-of-type(3) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__logo {
        order: 2;
        margin: 0 auto;

        @media screen and (min-width: 767.98px) {
            order: initial;
            margin: 0;
        }

        a {
            .icon {
                display: block;
                min-width: 134px;
                width: 134px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
                transition: 0.1s ease;

                @media screen and (min-width: 767.98px) {
                    min-width: 184px;
                    width: 184px;
                    height: 28px;
                }
            }
        }
    }

    .catalog-btn {
        display: none;

        @media screen and (min-width: 991.98px) {
            display: block;
        }

        &__btn {
            padding: 10px 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border: none;
            background: #F7F7F7;
            border-radius: 12px;
            cursor: pointer;
            transition: .1s ease;

            @media screen and (min-width: 991.98px) {
                &:hover {
                    background: #F0F0F0;
                }
            }

            .icon {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
                transition: 0.1s ease;
                cursor: pointer;
                min-width: 28px;
                width: 28px;
                height: 28px;

                i {
                    width: 16px;
                    height: 2px;
                    border-radius: 2px;
                    background: #000;
                    transition-property: margin, transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease, ease;
                    transition-delay: 0s;
                    transform: rotate(0);
                }
            }

            &-name {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                color: #000;
                user-select: none;
            }

            &.is--active {
                background: #3D3D3D;

                .icon {
                    i {
                        background: #FFF;
                        margin: -2px -2px -4px -1px;

                        &:nth-of-type(1) {
                            transform: rotate(45deg);
                        }

                        &:nth-of-type(2) {
                            transform: rotate(-45deg);
                        }

                        &:nth-of-type(3) {
                            display: none;
                        }
                    }
                }

                .catalog-btn__btn-name {
                    color: #FFF;
                }
            }
        }
    }

    &__links {
        margin-left: -8px;
        display: none;
        transition: .1s ease;

        @media screen and (min-width: 991.98px) {
            display: block;

            &:hover {
                opacity: .7;
            }

        }

        a {
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            color: #000;
        }
    }

    &__search {
        @media screen and (min-width: 767.98px) {
            flex: 1;
        }

        .search-index {
            order: 1;

            @media screen and (min-width: 767.98px) {
                order: initial;
            }

            form {
                pointer-events: none;

                @media screen and (min-width: 767.98px) {
                    pointer-events: initial;
                }
            }

            &__input {
                display: none;

                @media screen and (min-width: 767.98px) {
                    display: block;
                }
            }

            &__btn {
                position: static;
                transform: initial;

                @media screen and (min-width: 767.98px) {
                    position: absolute;
                    transform: translateY(-50%);
                }

                .btn-blue {
                    display: none;
                    padding: 10px 24px;
                    border-radius: 8px;

                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }

                .btn-search {
                    .icon {
                        filter: brightness(0);

                        @media screen and (min-width: 767.98px) {
                            filter: initial;
                        }
                    }
                }
            }

            &.is--active {
                .search-index__btn {
                    right: 4px;
                }

                .btn-blue {
                    display: flex;
                }

                .btn-search {
                    display: none;
                }
            }

        }
    }

    &__info {
        order: 3;

        @media screen and (min-width: 767.98px) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 16px;

            li {
                a {
                    .icon {
                        display: block;
                        min-width: 24px;
                        width: 24px;
                        height: 24px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        transition: 0.1s ease;
                    }
                }
            }
        }
    }

    &__panel {
        display: none;
        align-items: center;
        gap: 16px;
        margin-left: 32px;

        @media screen and (min-width: 767.98px) {
            display: flex;
        }

        @media screen and (min-width: 1199.98px) {
            margin-left: 0;
        }

        .panel-custom_i {

            font-size: 0;
            text-align: center;
            color: #858585;

            border: none;
            background: none;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            transition: .1s ease;

            @media screen and (min-width: 991.98px) {
                &:hover {
                    cursor: pointer;
                    color: #000;

                    .icon {
                        filter: brightness(0);
                    }
                }
            }

            @media screen and (min-width: 1199.98px) {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;

                min-width: 96px;
                width: 96px;
            }

            .icon {
                display: block;
                min-width: 24px;
                width: 24px;
                height: 24px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.1s ease;
            }
        }
    }
}

.bottom-header {
    display: none;

    @media screen and (min-width: 767.98px) {
        display: block;
    }

    &__wrapper {
        margin: 24px 0;

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px 24px;

            li {
                display: inline-flex;
                align-items: center;
                gap: 8px;

                .icon {
                    display: block;
                    min-width: 24px;
                    width: 24px;
                    height: 24px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.1s ease;
                }

                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #000;
                    transition: .1s ease;

                    @media screen and (min-width: 991.98px) {
                        &:hover {
                            opacity: .7;
                        }
                    }
                }

                &:has(.icon) {
                    a {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@import './data-dropdown.scss';