mixin data-dropdown-menu
    .data-dropdown
        ul
            li
                a(href="#") О ProShop
            li
                a(href="#") Наши магазины
            li
                a(href="#") Доставка и оплата
            li
                a(href="#") Рассрочка и кредит
            li
                a(href="#") Гарантия
            li
                a(href="#") Лицензии и сертификаты
            li
                a(href="#") Блог
            li
                a(href="#") Контакты
    
mixin data-dropdown-numbers

    .data-dropdown
        ul
            li
                a(href="tel:+11111111111") +1 (111) 111-11-11
            li
                a(href="tel:+11111111111") +1 (111) 111-11-11
            li
                a(href="tel:+11111111111") +1 (111) 111-11-11
