$fontFamily: "Inter";
$fontSize: "";
$mainColor: #000;

:root {
    --accent: #0070E0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
input,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

a {
    text-decoration: none;
}


html {
    height: 100%;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}


body {
    color: $mainColor;
    font-family: $fontFamily;
    display: flex;
    flex-direction: column;
    height: 100%;
}


._container {
    padding: 0 16px;
    margin: 0 auto;

    @media screen and (min-width: 479.98px) {
        max-width: 400px;
    }

    @media screen and (min-width: 575.98px) {
        max-width: 480px;
    }

    @media screen and (min-width: 767.98px) {
        max-width: 710px;
    }

    @media screen and (min-width: 991.98px) {
        max-width: 990px;
    }

    @media screen and (min-width: 1199.98px) {
        max-width: 1680px;
        padding: 0 40px;
    }

    @media screen and (min-width: 1639.98px) {
        max-width: 1904px;
        padding: 0 80px;
    }
}

main {
    flex: 1 0 auto;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.02em;

    @media screen and (min-width: 991.98px) {
        font-size: 36px;
        font-weight: 600;
        line-height: 52px;
    }
}